---
import { Image } from 'astro:assets';

const {
  title,
  description,
  imgAlign = "left",
  img = null,
  alt = '',
  imageWidth = 300,
  imageHeight = 300,
  imageClass = "rounded-xl max-w-full h-auto",
} = Astro.props;
---

<div class={`flex ${imgAlign === 'right' ? 'flex-row-reverse' : 'flex-row'} items-center gap-6 w-full h-screen bg-[#000435] border-2 rounded-xl border-gray-200 shadow-md hover:shadow-lg transition-all pl-48`}>
  {img && (
    <div class="flex-shrink-0">
      <Image 
        src={img} 
        alt={alt} 
        width={imageWidth} 
        height={imageHeight} 
        class={imageClass} 
        loading="lazy"
      />
    </div>
  )}
  <div class="flex flex-col pl-24">
    <h3 class="text-2xl font-semibold text-white dark:text-white">{title}</h3>
    <p class="text-base text-gray-300 dark:text-gray-300 mt-2">{description}</p>
  </div>
</div>